OpenWeatherMaps.xcodeproj/project.xcworkspace/contents.xcworkspacedata
OpenWeatherMaps.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
OpenWeatherMaps.xcodeproj/project.xcworkspace/xcuserdata/duytran.xcuserdatad/UserInterfaceState.xcuserstate
.natrium/natrium.log
OpenWeatherMaps.xcodeproj/xcuserdata/duytran.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
