OpenWeatherMaps.xcodeproj/project.xcworkspace/contents.xcworkspacedata
OpenWeatherMaps.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
OpenWeatherMaps.xcodeproj/project.xcworkspace/xcuserdata/duytran.xcuserdatad/UserInterfaceState.xcuserstate
